body{
	color: green;
	background-image:url('background.jpg')
}
a{	
	text-decoration:none;
	padding:20px;
	color:green;
	
}

#f-edit{
	background-color:white;
	opacity:0.9;
	padding:20px;
	padding-left:30px;
}
a:hover{
	font-weight:bold;
	letter-spacing:3px;
}
#main{
	padding:100%;
}



