<!Doctype html>
<html>
	<head>
		<title>first_flask_site</title>
		<link rel="stylesheet" type="text/css" href="static/index.css">
	</head>
	<body>
		<div id="f-edit">
			<a id="f-edit" href="#main">Home</a>
			<a id="f-edit" href="#about">About_Us</a>
			<a id="f-edit" href="#cont">Contact_Us</a>
			<a id="f-edit" href="#reg">Register</a>
		</div>

		<section id="main">
			<h1>WELCOME TO SECTION 1 {{to}}</h1>
			<p>
				
		</p>
		</section>

		<section id="about">
			<h1>WELCOME TO SECTION 2 {{to}}</h1>
		</section>

		<section id="cont">
			<h1>WELCOME TO SECTION 3 {{to}}</h1>
		</section>

		<section id="reg">
			<h1>WELCOME TO SECTION 4 {{to}}</h1>
		</section>
	</body>
</html>
